@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron" style="background-image: url(https://traveldestinations.co.uk/wp-content/uploads/2020/11/F1-TD-Banner-2021-Bahrain.jpg); background-size: cover; background-position-y: bottom">
    <h1 style="color: white;">Formula 1</h1>
</div>
<div class="row">
    <div class="col-md-8">
        <h2>Welcome to the Formula 1 - Fan Page!</h2>
        <p>
            This is a Formula 1 fan page which is created for learning purposes.
            With this website I want to learn more about Entity Framework Core in an
            ASP.NET Core MVC web application.
        </p>
    </div>
</div>
